# ===========================
# Virtual Environment
# ===========================
.venv/

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyc

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Ruff
# ===========================
.ruff_cache/

# ===========================
# Database Temporary Files
# ===========================
*.db-journal

# ===========================
# Operating System
# ===========================
.DS_Store
Thumbs.db